<div>
<table>
	<tr>
		<th>Origin</th>
		<th>Desination</th>
		<th>Distance</th>
		<th>Time</th>
		<th>Commets</th>
	</tr>
	<tr>
		<td><%= @route.origin%></td>
		<td><%= @route.destination%></td>
		<td><%= @route.distance%></td>
		<td><%= @route.time%></td>
		<td><%= @route.comment%></td>
	</tr>
</table>

 <form action="/routes/<%= @route.id %>" method="POST">
 	<input type="hidden" name="_method" value="delete">
 	<button type="submit">Delete</button>
 </form>
</div>